<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styleMoulin.css">
  <link rel="stylesheet" href="/css/styleNavbar.css">
  <link rel="stylesheet" href="/css/styleFormulaireCreation.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <title>Modification d'un organisme partenaire</title>
</head>

<body>
<div th:replace="~{fragments/fragment_navbar :: fragment_navbar}" ></div>
<header class="createForm-header">
  <h1>Mise.A.Jour Partenaire</h1>
</header>

<main>
  <form th:action="@{/admin/MAJPartenaire/{id}(id=${partner.id})}" th:object="${partner}" method="post" >
    <p class="createForm-introduction">Cliquez sur la carte pour localiser l'organisme : </p>
    <div id="mapid"></div>
    <p class="createForm-introduction">Merci de compléter les informations suivantes:</p>
    <div class="createForm-information">

      <div class="form-section">
        <h5>Données générales</h5>
        <input class="form-item" type="text" th:field="*{name}" placeholder="Libellé" required/>
        <select class="form-item-select" type="text" th:field="*{activity}" placeholder="Type d'activité" required/>
        <option value="Agriculture">Agriculture</option>
        <option value="Artisanat">Artisanat</option>
        <option value="Animations culturelles">Animations culturelles</option>
        <option value="Sport & Bien-être">Sport & Bien-être</option>
        <option value="Environnement">Environnement</option>
        <option value="Lieu_Collaboratif">Lieu Collaboratif</option>
        <option value="Autre">Autre</option>
        </select>
        <textarea rows="4" cols="50" class="form-item" type="text" th:field="*{description}" placeholder="Description" required/></textarea>
        <input class="form-item" type="text" th:field="*{url}" placeholder="Site internet"/>
      </div>

      <div class="form-section">
        <h5>Localisation</h5>
        <input class="form-item" type="text" th:field="*{adress}" placeholder="Adresse" required/>
        <input class="form-item" type="text" th:field="*{town}" placeholder="Ville" required/>
        <input class="form-item" type="number" th:field="*{zip_code}" placeholder="Code postal" required/>
        <input class="form-item" type="number" th:field="*{latitude}" step="any" placeholder="Latitude"/>
        <input class="form-item" type="number" th:field="*{longitude}" step="any" placeholder="Longitude"/>
      </div>
    </div>
    <input class="creation-button" type="submit" value="Enregistrer"/>
  </form>
</main>

</body>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascript/addPartnerMap.js"></script>

</html>