<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styleNavbar.css">
    <title>Fragment_nabvar</title>
</head>

<body>
<header th:fragment="fragment_navbar">
    <nav>
        <label for="toggle">☰</label>
        <input type="checkbox" id="toggle">
        <div class="navbar">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/territoire">Territoire</a></li>
            </ul>
        </div>
    </nav>
</header>
</body>
</html>