
.programming-header {
    height: 250px;
}

.programming-header h1{
    position: absolute;
    z-index: -1;
    color: #f5f4f4;
    font-size: 140px;
    margin: 0;
    padding: 0;
}


.programming-header h2{
    margin-top: 100px;
    text-align: center;
    color: #ffba07;
    font-size: 50px;
}


#programming-title-Moulin {
    font-size: 120px;
}


.programming-text {
    margin: 30px 150px;
    text-align: center;
    font-size: 11px;
    line-height: 2;
}

.display-events{
    margin: 20px 120px;
    align-items: center;
}

#listings{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*-------------------------- CSS Affichage des évènements ----------------------------------------*/


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 420px;
    margin: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    text-align: center;
}

.card img {
    width: 100%;
    height: 230px;
    object-fit: cover;
}
.card-content {
    padding: 10px;
    flex-grow: 1;
}

.card-type {
    font-size: 11px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.card-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-date {
    font-size: 10px;
    margin-bottom: 10px;
}

.card-button {
    width: 100px;
    margin-top: 25px;
    padding: 10px;
    border: none;
    background-color: #0694fb;
    color: white;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}


/*-------------------------- Responsive  ----------------------------------------*/

@media (max-width: 1290px) {
    .programming-header h1{
        font-size: 140px;
    }
}

@media (max-width: 820px) {
    .programming-header h1{
        font-size: 110px;
    }
}


@media (max-width: 768px) {

    .programming-header {
        height: 200px;
    }

    .programming-header h1 {
        margin-top: 20px;
        font-size: 100px;
    }

    .programming-header h2 {
        margin-top: 80px;
        font-size: 20px;
    }

    #programming-title-Moulin{
        font-size: 80px;
    }

    .programming-text {
        margin: 30px 20px;
        padding: 10px;
        font-size: 12px;
        text-align: justify;
    }

    .display-events {
        margin: 20px 10px;
    }


    #listings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 10px;
        align-items: center;
    }

    .card {
        width: 100%;
        height: 350px;
        margin: 5px;
    }
}

@media (max-width: 420px) {
    .programming-header h1{
        font-size: 60px;
    }

    #programming-title-Moulin{
        font-size: 60px;
    }

    .programming-text {
        margin: 30px 5px;
        font-size: 12px;
        text-align: justify;
    }

    .card {
        width: 200px;
        height: 420px;
        margin: 5px;
    }
}