<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styleMoulin.css">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <link rel="stylesheet" href="/css/styleNavbar.css">
    <title>Index</title>
  </head>

  <body>
    <div th:replace="~{fragments/fragment_navbar :: fragment_navbar}" ></div>

    <header class="index-header">
      <h1>Bienvenue au<br><span id="index-title-moulin">Moulin</span></h1>
    </header>

    <main>

      <section class="index-welcome" >
        <div class="index-welcome-title">
          <h1 class="index-welcome-title-h1">Un  lieu Re : Source Entre Terre Et Mer</h1>
          <p class="index-welcome-title-p">Qu’est-ce qu’un tiers-lieu ? La notion de « tiers-lieu » est apparue pour la première fois dans l’ouvrage du
            sociologue américain Ray Oldenburg paru en 1989 « The Great, Good Place » pour définir des lieux hybrides en ville :
            « Des lieux qui ne relèvent ni du domicile, ni du travail. Des lieux hybrides qui se situent entre l’espace public et
            l’espace privé, contribuant ainsi au développement économique et à l’activation des ressources locales ». Mais les tiers-lieux
            ne se limitent pas aux milieux urbains avec de plus en plus aujourd’hui l’émergence de tiers-lieux ruraux.</p>
        </div>

        <div class="index-welcome-text">
          <br>
          <p class="index-welcome-text-p1">En s’attelant aux travaux de rénovation du Moulin du Roz, situé sur la
            côte nord du Finistère, près de Lampaul-Ploudalmézeau, Nathalie et Antoine ont démarré la
            réalisation de leur rêve, celui de développer dans leur écrin de verdure entre terre et mer,
            un écolieu qui serait vecteur de dynamisme et participerait au déploiement des énergies
            locales. </p>
          <br>
          <p class="index-welcome-text-p2">Par l’organisation de stages, d’ateliers, de conférences, d’animations
            diverses et variées en partenariat avec des acteurs locaux (entreprises, associations,
            artisans, scientifiques, …), l’objectif du moulin est de créer des opportunités de rencontres,
            pour faire émerger des coopérations locales nouvelles. Un espace d’accueil où tout peut
            s’inventer et qui favorise l’échange et le partage, la transmission de connaissances, la
            découverte et l’apprentissage de savoir-faire responsables, de pratiques à la fois écologiques
            et économiques, le tout dans une ambiance conviviale et décontractée mettant en valeur
            territoire et terroir. </p>
        </div>
      </section>

    </main>

  </body>

</html>