<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" >

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <link rel="stylesheet" href="/css/styleMoulin.css">
    <link rel="stylesheet" href="/css/styleTerritoire.css">
    <link rel="stylesheet" href="/css/styleNavbar.css">
    <title>Territoire</title>
  </head>

  <body class="territoire-body">

    <div th:replace="~{fragments/fragment_navbar :: fragment_navbar}"></div>

    <header class="territoire-header">
      <h1>Le Terr(it)oir.e</h1>
    </header>

    <main>
      <div class="territoire-main">
        <section class="territoire-title">
          <h2>ENTRE TERRE ET MER </h2>
          <h1>A la rencontre des acteurs du Pays d'Iroise</h1>
        </section>

        <section class="territoire-text">
          <p id="territoire-text-p1">Situé au nord de Brest, près de Lampaul-Ploudalmézeau, le Moulin s’implente au sein d’une économie locale riche et dynamique. Producteurs, artisans, animateurs de lieu collaboratifs, créateurs d’évènements culturels, coachs, passionné.e.s, ...</p>
          <p id="territoire-text-p2">Retrouvez sur la carte tous les acteurs locaux qui font du pays d’Iroise un territoire et un un terroir, et à qui le Moulin souhaite donner la parole à travers un programmation d’ateliers, d’animations variées et de conférences ou encore de stages.</p>
        </section>
      </div>

      <div class="search-bar" id="search">
        <p for="search-input">Recherche par mot-clé:
          <input type="text" id="search-input" oninput="filterPartners()">
        </p>
      </div>

      <section class="territoire-map">
        <div id="mapid"></div>
        <div class="table-container">
          <table class="grid">
            <thead>
              <tr>
                <th class="table-head sortable">Nom</th>
                <th class="table-head sortable">Type d'activité</th>
                <th class="table-head sortable">Description</th>
                <th class="table-head">Code Postal</th>
                <th class="table-head sortable">Ville</th>
                <th class="table-head"></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="partner : ${partners}">
                <td class="cell sortable" th:text="${partner.name}"></td>
                <td class="cell" th:text="${partner.activity}"></td>
                <td class="cell" th:text="${partner.description}"></td>
                <td class="cell" th:text="${partner.zip_code}"></td>
                <td class="cell" th:text="${partner.town}"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

    </main>

  </body>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/Javascript/partnersMap.js"></script>

</html>